@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: min(800px, 100%);
    display: flex;
    flex-direction: column;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 100dvh;
    background-image: url(./IMG_0013.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    width: 100%;
    height: 10rem;
    background-color: #33425a6c;
    border-bottom: 3px solid rgb(255, 255, 0);
    border-radius: 0 0 15% 15%;
    padding: 1rem;
    position: relative;
    align-items: center;
    top: 0;
    
}
img{
   object-fit: cover;
   width: 70%;
   height: auto;
}
.top-flower{
    position: absolute;
    width: 100%;
    height: 2rem;
    top: 0;
    z-index: -3;
    display: flex;
    /* background-image: url(./gui-pack/leaves.png); */
    background-position: center;
    background-size: contain;
}

.bottom-flower{
    width: 100%;
    height: 2rem;
    display: flex;
    background-image: url(./gui-pack/leaves.png);
    background-position: center;
    background-size: contain;
    transform: rotate(180deg);
    bottom: 0;
    z-index: -3;
}
.blur{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(15px);
    z-index: 1;
}
.header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    gap: 1rem;
}
main{
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.left-header{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
}
.right-header{
    width: 9rem;
    height: auto;
    background-image: url(./gui-pack/button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FFFF33;
    -webkit-text-stroke-width: 2px; /* Width of the stroke */
      -webkit-text-stroke-color: #723600; /* Color of the stroke */
      z-index: 2;
}
.profile{
    width: 4rem;
    height: 4rem;
    background-image: url(./gui-pack/profile-photo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.username{
    display: flex;
    align-items: center;
}
.username-text, .claim{
    width: 9rem;
    height: 6rem;
    background-image: url(/gui-pack/button.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.username-text p{
    font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  color: #FFFF33;
  -webkit-text-stroke-width: 2px; /* Width of the stroke */
    -webkit-text-stroke-color: #723600; /* Color of the stroke */
}

.health{
    width: 100%;
    margin-top: -.5rem;
    height: 2em;
    background-image: url(./gui-pack/level-bar.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.level{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  color: #FFFB92;
}

h1{
    font-size: 3rem;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FFFF33;
    -webkit-text-stroke-width: 2px; /* Width of the stroke */
      -webkit-text-stroke-color: #723600; /* Color of the stroke */
}

.claim{
    margin-top: 9rem;
    width: 17rem;
    text-align: center;
    font-size: 1.5em;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FFFF33;
    -webkit-text-stroke-width: 2px; /* Width of the stroke */
      -webkit-text-stroke-color: #723600; /* Color of the stroke */
}

footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer{
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-evenly;
    align-items: center;
}

#home{
    background-image: url(./gui-pack/home.png);
}

#play{
    background-image: url(/gui-pack/play.png);
}
#tasks{
    background-image: url(/gui-pack/boost.png);
}
#friends{
    background-image: url(/gui-pack/Boost\ Button.png);
}

.footer:hover{
    cursor: pointer;
}